<html>
<head>
    <title>Ray Tracing Live View</title>
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous">
    </script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css"
          integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA=="
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js"
            integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw=="
            crossorigin="anonymous">
    </script>
    <style>
        #img img {
            max-width: 100%;
            width: auto;
            height: 99vh;
            vertical-align: middle;
            margin: auto;
            display: block;
        }

        body {
            overflow: hidden;
        }
    </style>
</head>

<body>


<script>
    function reload() {
        $.ajax(
            `{{request.url_root}}api/live-image?w=${$('#img img').width()}&h=${$('#img img').height()}`,
            {
                success: (data) => {
                    let img=$('<img>').attr("src", `data:image/bmp;base64, ${data}`).appendTo($("#img").empty());
                }
            });
        $.ajax(
            "{{request.url_root}}api/worker-status",
            {
                success: (data) => {

                    let monitor = JSON.parse(data);
                    console.log(monitor);
                    let accordion = $('<ul class="accordion" data-accordion>');
                    $('#monitor').empty().append(accordion);
                    for (let key in monitor) {
                        let l = $('<ul class="accordion-item">').append($(`<li>Worker ${key}: ${monitor[key].status}</li>`)).appendTo(accordion);
                        l.append($('<ul>').append(`<ul><li>${monitor[key].average_update_frequency}s</li></ul>`).append(`<li>Last seen ${monitor[key].last_seen}s ago</li>`));
                    }
                    new Foundation.Accordion(accordion);

                }
            })

    }
    reload();
    setInterval(reload, {{ refresh_frequency }})

</script>
<div id="wrapper" class="grid-x grid-margin-x" style="height: 100vh;">
    <div id="img" class="cell medium-10"><img></div>
    <div id="monitor" class="cell auto"></div>
</div>
<script>
    $(document).foundation();
</script>
</body>
</html>
